@using WotBlitzStatisticsPro.Common.Model

<div class="row p-2">
	<div class="col">
		<img class="tank-img @TankInfo.Nation-img"
			 src="@TankInfo.PreviewImageUrl" />
	</div>
	<div class="col">
		@TankInfo.Name <br />
		Winrate @TankInfo.WinRate.ToString("N2") % <br />
		Avg damage @TankInfo.AvgDamage.ToString("N0")
	</div>
</div>
@code {
	[Parameter]
	public PlayerTankInfo TankInfo { get; set; }
}
