@inherits MainLayoutBase

<RadzenDialog />

<RadzenHeader>
    <ChildContent>
        <div class="row justify-content-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(args => InvertSideBar())">
                </RadzenSidebarToggle>
                <RadzenLabel Text="WOT Blitz statistics">
                </RadzenLabel>
            </div>
        </div>
    </ChildContent>
</RadzenHeader>
<div style="width:100%">
    <RadzenBody @ref="@Body0" @bind-Expanded="@BodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>
<RadzenSidebar @ref="@Sidebar0" @bind-Expanded="@SidebarExpanded">
    <ChildContent>
        <NavMenu CloseSideBar=@InvertSideBar/>
    </ChildContent>
</RadzenSidebar>
<RadzenFooter>
    <ChildContent>
        <RadzenLabel Text="WOT Blitz statistics, Copyright &copy; 2021">
        </RadzenLabel>
        <RadzenLink Text="DrMboga" Path="https://github.com/DrMboga/WotBlitzStatisticsBlazor" Target="_blank" Style="margin-left:5px;vertical-align:bottom;" />
    </ChildContent>
</RadzenFooter>
