@page "/player/{AccountId:long}"
@using WotBlitzStatisticsPro.Blazor.Helpers
@inherits PlayerInfoLayoutBase
<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                   Visible="@(AccountInfo == null)"
                   Style="width: 100%; margin-top: 10px;" />
SmallScreen = @SmallScreen
@if (AccountInfo != null)
{
    <h1>
        @AccountInfo.Nickname @if (AccountInfo.ClanInfo != null)
                              {
                                  <span style="color: @Constants.ClanTagColor;"> [<span style="font-weight: bolder;">@AccountInfo.ClanInfo.Tag</span>]</span>
                              }
    </h1>
    <div style="margin-top: 10px; margin-bottom: 20px;">
        <div>
            <small>@Localize["Created"]: <b>@AccountInfo.CreatedAt.ToString("d") | @AccountInfo.CreatedAt.SinceTime(Localize)</b></small>
        </div>
        <div>
            @Localize["Last battle"]: <b>@AccountInfo.LastBattleTime.ConvertToLocalTime().ToString("g") | @AccountInfo.LastBattleTime.ConvertToLocalTime().SinceTime(Localize)</b>
        </div>
    </div>
    <RadzenTabs >
        <Tabs>
            <RadzenTabsItem Icon="person_outline" >
                <PlayerInfoOverview AccountInfo="@AccountInfo"></PlayerInfoOverview>
            </RadzenTabsItem>
            <RadzenTabsItem Icon="insights">
                <PlayerInfoStatistics TanksList="@AccountInfo.Tanks"></PlayerInfoStatistics>
            </RadzenTabsItem>
            <RadzenTabsItem Icon="agriculture">
                <PlayerInfoTanksList TanksList="@AccountInfo.Tanks"></PlayerInfoTanksList>
            </RadzenTabsItem>
            <RadzenTabsItem Icon="military_tech">
                <PlayerInfoAchievements></PlayerInfoAchievements>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}