@page "/player/{AccountId:long}"
@using WotBlitzStatisticsPro.Blazor.Helpers
@inherits PlayerInfoLayoutBase
<RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                   Visible="@(AccountInfo == null)"
                   Style="width: 100%; margin-top: 10px;" />
@if (AccountInfo != null)
{
    <h1>
        @AccountInfo.Nickname @if (AccountInfo.ClanInfo != null)
                              {
                                  <span style="color: @Constants.ClanTagColor;"> [<span style="font-weight: bolder;">@AccountInfo.ClanInfo.Tag</span>]</span>
                              }
    </h1>
    <div style="margin-top: 10px; margin-bottom: 20px;">
        <div class="data-field">
            <div class="data-label">@Localize["Created"]:</div>
            <div class="data-value">
                <div> <b>@AccountInfo.CreatedAt.ToString("d")</b></div>
                <div class="data-label">@AccountInfo.CreatedAt.SinceTime(Localize)</div>
            </div>
        </div>
        <div class="data-field">
            <div class="data-label">@Localize["Last battle"]:</div>
            <div class="data-value">
                <div> <b>@AccountInfo.LastBattleTime.ConvertToLocalTime().ToString("g")</b></div>
                <div class="data-label">@AccountInfo.LastBattleTime.ConvertToLocalTime().SinceTime(Localize)</div>
            </div>
        </div>
    </div>
    <RadzenTabs >
        <Tabs>
            <RadzenTabsItem Icon="person_outline" >
                <PlayerInfoOverview AccountInfo="@AccountInfo"></PlayerInfoOverview>
            </RadzenTabsItem>
            <RadzenTabsItem Icon="insights">
                <PlayerInfoStatistics TanksList="@AccountInfo.Tanks"></PlayerInfoStatistics>
            </RadzenTabsItem>
            <RadzenTabsItem Icon="agriculture">
                @if (SmallScreen)
                {
                    <PlayerInfoTanksListSmall TanksList="@AccountInfo.Tanks"></PlayerInfoTanksListSmall>
                }
                else
                {
                    <PlayerInfoTanksList TanksList="@AccountInfo.Tanks"></PlayerInfoTanksList>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Icon="military_tech">
                <PlayerInfoAchievements></PlayerInfoAchievements>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}