@using WotBlitzStatisticsPro.Blazor.Helpers
@inject IStringLocalizer<App> Localize;

    <div class="row">
        <RadzenCard class="m-3" style="width: 350px;">
            <table class="table" width="100%">
                <tbody>
                <tr>
                    <td>@Localize["Battles"]:</td>
                    <td><b>@AccountInfo.Battles.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Win rate"]:</td>
                    <td>
                        <b>@AccountInfo.WinRate.ToString("N2")%</b>
                        <div style="background-color: @AccountInfo.WinRate.ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Wn7"]:</td>
                    <td>
                        <b>@AccountInfo.Wn7.ToString("N2")</b>
                        <div style="background-color: @AccountInfo.Wn7.Wn7ScaleColor(); width: 100%; height: 5px; margin-left: 2px; margin-right: 2px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>@Localize["Average Damage"]:</td>
                    <td><b>@AccountInfo.AvgDamage.ToString("N0")</b></td>
                </tr>
                <tr>
                    <td>@Localize["Average XP"]:</td>
                    <td><b>@AccountInfo.AvgXp.ToString("N0")</b></td>
                </tr>
                </tbody>
            </table>
        </RadzenCard>
        <RadzenCard class="m-3" style="width: 350px;">
            <h3 class="h5">@Localize["Most effective tank"]</h3>
            <div class="row">
                <div class="col col-sm col-md col-lg col-xl">
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                    @if (MostRelevantTank != null)
                    {
                        <TankCard Tank=@MostRelevantTank></TankCard>
                    }
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                </div>

            </div>
        </RadzenCard>
        <RadzenCard class="m-3" style="width: 350px;">
            <h3 class="h5">@Localize["Tank with Max XP"] (@AccountInfo.MaxXp.ToString("N0"))</h3>
            <div class="row">
                <div class="col col-sm col-md col-lg col-xl">
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                    @if (MaxXpTank != null)
                    {
                        <TankCard Tank=@MaxXpTank></TankCard>
                    }
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                </div>

            </div>
        </RadzenCard>
        <RadzenCard class="m-3" style="width: 350px;">
            <h3 class="h5">@Localize["Tank with Max frags"] (@AccountInfo.MaxFrags)</h3>
            <div class="row">
                <div class="col col-sm col-md col-lg col-xl">
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                    @if (MaxFragsTank != null)
                    {
                        <TankCard Tank=@MaxFragsTank></TankCard>
                    }
                </div>
                <div class="col col-sm col-md col-lg col-xl">
                </div>

            </div>
        </RadzenCard>
    </div>


@code {
    [Parameter]
    public IAccount AccountInfo { get; set; }

    public ITank? MostRelevantTank;
    public ITank? MaxXpTank;
    public ITank? MaxFragsTank;

    protected override void OnInitialized()
    {
        MostRelevantTank = AccountInfo?.Tanks?.FindMostRelevantTank();
        MaxXpTank = AccountInfo?.Tanks?.FirstOrDefault(t => t.TankId == AccountInfo.MaxXpTankId);
        MaxFragsTank = AccountInfo?.Tanks?.FirstOrDefault(t => t.TankId == AccountInfo.MaxFragsTankId);
    }

}
