@using WotBlitzStatisticsPro.Blazor.Model
@inherits SearchDialogTypeBase
<div class="row">
    <div class="col-md-4 col-4">
        <RadzenDropDown @bind-Value=@CurrentRealmType
                         Data=@Realms
                         ValueProperty="RealmType"
                         Style="width: 87px"
                         Change="@OnRealmChanged">
            <Template>
                <img src="@(((RealmSelector) context).RealmImage)" style="height: 27px"/>
            </Template>
        </RadzenDropDown>
    </div>
    <div class="col-md-8 col-8">
        <RadzenTextBox Placeholder=@($"{Localizer["Search"]}...") Change=@OnSearchTextChange Disabled="@ComponentBusy" Style="width: 100%;"/>
    </div>
</div>
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                   Visible="@ComponentBusy"
                   Style="width: 100%; margin-top: 10px;" />
    @if (DialogType == DialogType.FindPlayer)
    {
        <RadzenListBox @bind-Value=@CurrentValue
                        Data=@PlayersList
                        ValueProperty="AccountId"
                        Style="height: 330px; width: 100%; margin-top: 10px;"
                        Visible="@(!ComponentBusy)">
            <Template>
                <FindPlayerListItem Player="@((IPlayerShortInfo) context)"></FindPlayerListItem>
            </Template>
        </RadzenListBox>
    }
    @if (DialogType == DialogType.FindClan)
    {
        <RadzenListBox @bind-Value=@CurrentValue
                        Data=@ClansList
                        ValueProperty="ClanId"
                        Style="height: 330px; width: 100%; margin-top: 10px;"
                        Visible="@(!ComponentBusy)">
            <Template>
                <FindClanListItem Clan="((IClanShortInfo)context)"></FindClanListItem>
            </Template>
        </RadzenListBox>
    }
    <RadzenButton Click=@(args => OnOkButtonClick())
                  Text="Ok"
                  Visible="@(!ComponentBusy)"
                  Style="margin: 10px auto 10px auto; display: block; width: 150px; " />
